@font-face {
    font-family: 'IcoFont';
    src: url('icofont.eot');
    src: url('icofont.eot?#iefix') format('embedded-opentype'),
        url('icofont.woff2') format('woff2'),
        url('icofont.woff') format('woff'),
        url('icofont.ttf') format('truetype'),
        url('icofont.svg#icofont') format('svg');
    font-weight: normal;
    font-style: normal;
}

